* {
  background-color: antiquewhite;
}

h1 {
  background-color: burlywood;
}

#date {
  background-color: burlywood;
}

#numbers {
  background-color: burlywood;
}

li {
  background-color: bisque;
}